
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.listIcon {
    width: 0.8em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.8em;
    padding: 0.1em;
    height: auto;
}

.titleSection h2 {
    display: block;
    font-size: 1em;

}

.titleSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

