

.popup {
    font-size: 0.7em;
    overflow: auto;
    flex: 1 1 auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 1em;

}

.popup table {
    border-spacing: 1em;
    border-collapse: separate;

}


.popupContent {
    flex: 1 1 auto;
    align-self: center;
}
