

#screen1 {
	background-image: url('../assets/backgrounds/screen1.png');

}

#screen2 {
	background-image: url('../assets/backgrounds/screen2.png')
}

#screen3 {
	background-image: url('../assets/backgrounds/screen3.png')
}

#loading {
	background-image: url('../assets/backgrounds/screen1.png');
}

#loading h1 {
	margin-top: 5em;
}

#root {
	position: absolute;
	top:0;
	left:0;
}

.container {
	font-family: "Comfortaa", sans-serif;
	color: #fff;
	border: 0.02em solid black;
/*	width: 375px;
	height: 667px; */
	min-width: 100vw;
	min-height: 100vh;
	background-color: #48ac0c;
	background-repeat: repeat-x;

	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 0 auto; 
	text-transform: capitalize;
}

.nonCapital {
	text-transform: none;
}

.upperScrollContainer {
    height: 12em;
    margin-bottom: 1em;
    margin-left: 1em;
	margin-right: 1em;
    margin-top: 1em;   
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

}

.scrollableTable {
    display: flex;
    font-size: 0.8em;
    border-collapse: separate;
    border-spacing: 0.5em;
    overflow-y:auto;
    overflow-x: auto;
    flex-direction: column;
    margin-left: 1em;
    margin-right: 1em;

}

.basicMessage {
    margin-left: 1em;
    margin-right: 1em;
    text-transform: none;
}


.buttonContainer {
    display: flex;
    flex-direction: column;

}

.greenButton {
    font-size: 0.8em;
    border: None;
    display: block;
    color: white;
    background-color:rgb(18, 155, 13);
    border-radius: 0.5em;
    padding: 0.4em;
    align-self: center;

}

