@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');


.currentContainer {
    flex: 1 1 auto;
    margin-top: 2em;
    font-size: 14pt;
    text-align: left;
}
.tempstats {
    font-size: 14pt;
    margin: 0.3em;
    margin-left: 2.1em;

}

#Location {
    font-size: 11pt;
    margin-bottom: 0em;
    margin-left: 2.8em;
}

#temp {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 53pt;
    margin-left: 0.5em;
}

#directionLogo {
    width: 0.8em;
    height: auto;
    margin-left: 0.6em;
}

.upcomingContainer {
    flex: 1 1 auto;
    margin-top: 8.5em;
    overflow-y:scroll;
    overflow-x: scroll;
    margin-left: 1.36em;
    margin-right: 1.36em;
    align-self: center;
}
.upcomingContainer table {
    font-size: 12pt;
    border-spacing: 0.8em;
    margin-bottom: -2.9em;
}

.upcomingContainer th {
    font-weight:normal;
}

.upcomingContainer img {
    width: 1.7em;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
}

