@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');


.scrollableParent table {
    width: 100%;
    font-size: 12pt;
    border-collapse: separate;
    border-spacing: 0.5em;
    margin-bottom: -2.9em;
}
