@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');








.scheduleName {
    padding-bottom: 0.5em;
    text-align: start;
}

.scheduleDate{
    display: inline-block;
    margin-right: 0.8em;
    text-align: end;
    margin-left: 1em;  
}

.addSchedule {
    margin-top: 8em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    height: 7em;
    /*
    background-color: #6ace39;
    */
    flex: 1 1 auto;

}

.addSchedule h3 {
    font-size: 1em;
    
}

.formContainer {
    display: flex;
    font-size: 0.8em;
    flex-direction: row;
}

.smallPadding {
    padding: 0.7em;

}

.scheduleSelecter option {
    overflow: auto;
    max-height: 20px;
}

#scheduleSubmit {
    color:#67bcff;
    background-color: #6ace39;


    border: none;
    color: white;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
  }




