
.toolbar {
    flex: 1 1 auto;
    
    justify-content: center;
}


.toolbar img {
    flex-direction: row;
    width: 2em;
    height: auto;
    padding-left: 2.83em;
    padding-bottom: 1em;
    padding-right: 2.83em;
  
/*
    padding-left: 2.83em;
    padding-bottom: 0.3em;
    padding-right: 2.83em;
        width: 2em;
    height: auto;
    */
}

